*.user
build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/ui_mainwindow.h

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/student.o

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/moc_mainwindow.o

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/moc_mainwindow.cpp

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/mainwindow.o

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/main.o

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/filemanager.o

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Attendance.app/Contents/Resources/empty.lproj

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Attendance.app/Contents/PkgInfo

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Attendance.app/Contents/MacOS/users.ids

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Attendance.app/Contents/MacOS/data.csv

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Attendance.app/Contents/MacOS/Attendance

build-Attendance-Desktop_Qt_5_4_2_clang_64bit-Debug/Attendance.app/Contents/Info.plist

.qmake.stash
*.user
Attendance.pro
*.pro
